* {
  margin: 0;
}
html,
body {
  background-color: green;
}
nav {
  background-color: red;
}
h1 {
  font-size: 16px;
}
a {
  text-decoration: none;
}
nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 60px;
  background-color: white;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  box-sizing: border-box;
  padding: 8px;
}
nav a {
  color: green;
}
nav a:nth-child(odd) {
  color: green;
}
@media screen and (min-width: 600px) {
  nav {
    height: 200px;
  }
}
